.main-text {
    position: absolute;
    bottom: 30px;
    left: 10%;
    color: #ffff;
    border-top: 1px solid #ffff;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    border-color: #FFF;
    border-width: 2px;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #6699CC;
}

.arrowalign {
    top: 50%;
}

.arrowalign:hover {
    vertical-align: middle;
}

.carousel-control {
    color: #fff;
    top: 50%;
    bottom: auto;
    padding-top: 0px;
    width: 30px;
    height: 30px;
    text-shadow: none;
    opacity: 0.9;
}

#services .box {
    float: left;
    overflow: hidden;
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;

    /*-webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -ms-transform:scale(1.0);
    -o-transform:scale(1.0);
    transform:scale(1.0);*/
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#services .box .display{
    display: grid;
    text-align: center;
}
#services .box:hover .display{
    display: none;
}
#services .box .description{
    display: none;
}
#services .box:hover .description{
    display: block;
    text-align: left;
    margin:10px 10px 10px 18px;
    font-size: 10px;
}

#services .b1 {
    height: 250px;
    width: 100%;
    background:#cccc00;
    background-image: url("../img/services/b1.jpg");    
    background-size: cover;
}

#services .b1:hover {
    z-index: 10;
    -webkit-transform:scale(2.0);
    -moz-transform:scale(2.0);
    -ms-transform:scale(2.0);
    -o-transform:scale(2.0);
    transform:scale(2.0);
    transform-origin: 0% 0%;
}

#services .b2 {
    height: 250px;
    width: 100%;
    background: #03b9b9;
}

#services .b2:hover {
    z-index: 10;
    -webkit-transform:scale(2.0);
    -moz-transform:scale(2.0);
    -ms-transform:scale(2.0);
    -o-transform:scale(2.0);
    transform:scale(2.0);
    transform-origin: 0% 100%;
}

#services .b3 {
    height: 500px;
    width: 100%;
    background-image: url("../img/services/b3.jpg");   
    background-size: cover; 
    /*background: rgb(29, 143, 144, 0.7);*/
}

#services .b3:hover {
    z-index: 10;
    -webkit-transform:scale(2.0, 1.0);
    -moz-transform:scale(2.0, 1.0);
    -ms-transform:scale(2.0, 1.0);
    -o-transform:scale(2.0, 1.0);
    transform:scale(2.0, 1.0);
    transform-origin: 0% 0%;
    background-image: url("../img/services/b33.jpg");
    background-size: cover; 
}

#services .b3:hover .description{
    transform:scale(1.0, 2.0);
}

#services .b4 {
    height: 250px;
    width: 100%;
    background: #90efff;
}

#services .b4:hover {
    z-index: 10;
    -webkit-transform:scale(2.0);
    -moz-transform:scale(2.0);
    -ms-transform:scale(2.0);
    -o-transform:scale(2.0);
    transform:scale(2.0);
    transform-origin: 100% 0%;
}

#services .b5 {
    height: 250px;
    width: 100%;
    background-image: url("../img/services/b5.jpg");    
    background-size: cover;
    /*background: #a2a2a2;*/
}

#services .b5:hover {
    z-index: 10;
    -webkit-transform:scale(2.0);
    -moz-transform:scale(2.0);
    -ms-transform:scale(2.0);
    -o-transform:scale(2.0);
    transform:scale(2.0);
    transform-origin: 100% 100%;
}

#services .b6 {
    height: 250px;
    width: 100%;
    background: pink;
}

#services .b6:hover {
    z-index: 10;
    -webkit-transform:scale(2.0);
    -moz-transform:scale(2.0);
    -ms-transform:scale(2.0);
    -o-transform:scale(2.0);
    transform:scale(2.0);
    transform-origin: 100% 0%;
}

#services .b7 {
    height: 250px;
    width: 100%;
    background: cyan;
    background-image: url("../img/services/b7.jpg");    
}

#services .b7:hover {
    z-index: 10;
    -webkit-transform:scale(2.0);
    -moz-transform:scale(2.0);
    -ms-transform:scale(2.0);
    -o-transform:scale(2.0);
    transform:scale(2.0);
    transform-origin: 100% 100%;
}

@media (max-width:550px){
    #services .b1 {
        width: 50%;
    }

    #services .b2 {
        width: 50%;
    }

    #services .b3 {
        width: 100%;
        height: 250px;
    }

    #services .b4 {
        width: 50%;
    }

    #services .b5 {
        width: 50%;
    }

    #services .b3:hover {
        -webkit-transform:scale(2.0, 1.0);
        -moz-transform:scale(2.0, 1.0);
        -ms-transform:scale(2.0, 1.0);
        -o-transform:scale(2.0, 1.0);
        transform:scale(1.0, 2.0);
    }
    #services .b3:hover .description{
        -webkit-transform:scale(2.0, 1.0);
        -moz-transform:scale(2.0, 1.0);
        -ms-transform:scale(2.0, 1.0);
        -o-transform:scale(2.0, 1.0);
        transform:none;
    }
}

.vr{ 
    display: inline-block;
}

#call-to-action .box {
    /*border:2px solid white;*/
    border-radius: 5px;
    float: left;
    overflow: hidden;
    position: relative;
    height: 450px;
    padding: 15px;
    margin: 20px auto;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 400;
    /*background: #179ee0;*/
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 20px #000000;
}

#call-to-action .box:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 35px #000000;
}

#call-to-action .b1{
    background:#179ee0;
}

#call-to-action .b2{
    background:#ff7029;
}

#call-to-action .b3{
    background:#ff2980;
}

#call-to-action .b4{
    background:#30d8d1;
}

@media (max-width:550px){
    #intro .carousel-content span{
        font-size: 30px!important;
        padding: 0px!important;
    }

    #intro .vr h3{
        font-size: 25px!important;
    }
    #call-to-action .cta-btn {
        bottom: 0px;
    }
}

.header-scrolled #logo img{
    transform: scale(0.53);
    transform-origin: 0% -25%;
    transition-duration: 1s;
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:45%;
    width:220px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#d6d6d6;
    color:#efefef;
    height:50px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
    border-radius: 40px;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin-right:5px;
    width: 50px;
    height: 50px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}

.sticky li p a{
    text-decoration:none;
    color:#2C3539;
    font-size: 15px;
}
.sticky li p a:hover{
    text-decoration:underline;
}

.canvas{
    background-color: #ffff;
    padding: 10px 10px;
}

.product-banner{
    max-height:350px;
    width:100%;
}

.career-banner{
    background:url("../img/career-banner2.jpg") center no-repeat;
    height: 550px;
}

.banner-bg{
    background: linear-gradient(0deg, #90efff6b 0%, #90efff6b 50%, #90efff7d 100%);
    height: 100%;
    /*padding: 0px*/
}

.fixed-div{
    position: fixed;
    height: 750px;
    top: 23px;
    padding: 60px 0;
    margin: 0 auto;
    background: white;
    width: 100%;
    z-index: 10;
}

#featured-services .banner-box{
    padding: 10px;
    margin: 5% 5%;
    box-shadow: 0px 0px 10px #000000;
    float: left;
    text-align: center;
    color: white;
    max-width: 80%;
}

#featured-services .b1{
    background:linear-gradient(0deg, #808080cc 0%, #84c8d4b8 50%, #90effff0 100%);
    height: 250px;
}

.b1 h2{
    margin: 10% auto;
}

.b2 h2{
    margin: 25% auto;
}

#featured-services .b2{
    background:linear-gradient(#7fab9396 50%, #71cea9ba 100%);
    height: 325px;
    margin-top: 10%;
}

@media (max-width:750px){
   #featured-services .b1{
        height: 200px;
    }

    #featured-services .b2{
        height: 200px;
    }

    .b1 h2{
        margin: 5% auto;
    }

    .b2 h2{
        margin: 5% auto;
    }
}

#testimonials .pic-box{
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 1%;
    float: left;
    z-index: 1;
}

#testimonials .box-bg{
    background: #08a2d6;
}

#testimonials #box-2{
    height: 200px;
    width: 50%;
}

#testimonials #box-3{
    height: 100px;
    width: 100px;
}

#testimonials #box-4{
    height: 50px;
    width: 50px;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: center;
  background-color: #ddd;
}

.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  background-color: #aaa;
}

@keyframes x-spin {
  0%, 10%, 90%   {transform: rotateX(0deg); }
  20%, 50%,70%   {transform: rotateX(180deg); }
}

@-webkit-keyframes x-spin {
    0%, 10%, 90%   {-webkit-transform: rotateX(0deg); }
    20%, 50%,70%   {-webkit-transform: rotateX(180deg); }
}

@keyframes y-spin {
  0%, 10%, 90%   {transform: rotateY(0deg); }
  20%, 50%,70%   {transform: rotateY(180deg); }
}

@-webkit-keyframes y-spin {
    0%, 10%, 90%   {-webkit-transform: rotateY(0deg); }
    20%, 50%,70%   {-webkit-transform: rotateY(180deg); }
}

.two {
    height: 250px;
    width: 100%;
    transform-style: preserve-3d;
    animation: y-spin 60s linear infinite;
}


.two:nth-child(2) {
  animation-delay: 3s;
}

.two:nth-child(3) {
  animation-delay: 6s;
}

.two:nth-child(4) {
  animation-delay: 9s;
}

.two:nth-child(5) {
  animation-delay: 12s;
}

.three {
    height: 250px;
    width: 100%;
    transform-style: preserve-3d;
    animation: x-spin 40s linear infinite;
}

.three:nth-child(2) {
  animation-delay: 4s;
}

.three:nth-child(3) {
  animation-delay: 8s;
}

.three:nth-child(4) {
  animation-delay: 10s;
}

.three:nth-child(5) {
  animation-delay: 14s;
}

.four {
    height: 250px;
    width: 100%;
    transform-style: preserve-3d;
    animation: y-spin 20s linear infinite;
}

.four:nth-child(2) {
  animation-delay: 2s;
}

.four:nth-child(3) {
  animation-delay: 8s;
}

.four:nth-child(4) {
  animation-delay: 14s;
}

.four:nth-child(5) {
  animation-delay: 20s;
}

.group {
  position: relative;
  margin-bottom: 10px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
}
textarea:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

.focused ~ label{
    top: -20px;
    font-size: 14px;
    color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
