
<!-- JavaScript Libraries -->
  <script src="<?= asset ?>lib/jquery/jquery-migrate.min.js"></script>
  <script src="<?= asset ?>lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="<?= asset ?>lib/easing/easing.min.js"></script>
  <script src="<?= asset ?>lib/superfish/hoverIntent.js"></script>
  <script src="<?= asset ?>lib/superfish/superfish.min.js"></script>
  <script src="<?= asset ?>lib/wow/wow.min.js"></script>
  <script src="<?= asset ?>lib/waypoints/waypoints.min.js"></script>
  <script src="<?= asset ?>lib/counterup/counterup.min.js"></script>
  <script src="<?= asset ?>lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="<?= asset ?>lib/isotope/isotope.pkgd.min.js"></script>
  <script src="<?= asset ?>lib/lightbox/js/lightbox.min.js"></script>
  <script src="<?= asset ?>lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  
  <!-- Contact Form JavaScript File 
  <script src="<?= asset ?>contactform/contactform.js"></script> -->

  <!-- Template Main Javascript File -->
  <script src="<?= asset ?>js/main.js"></script>
  <script src="<?= asset ?>js/jquery.visible.js"></script>