          <div class="sticky-container">
            <ul class="sticky">
              <li>
                  <img src="<?= $this->request->webroot ?>img/icons/facebook.ico" >
                  <p><a href="https://www.facebook.com/KSoft-Smart-Solutions-182566465860769" target="_blank">Like Us on<br>Facebook</a></p>
              </li>
              <li>
                  <img src="<?= $this->request->webroot ?>img/icons/instagram.png" >
                  <p><a href="https://www.instagram.com/ksoftss" target="_blank">Follow Us on<br>Instagram</a></p>
              </li>
              <li>
                  <img src="<?= $this->request->webroot ?>img/icons/linkedin.png" >
                  <p><a href="https://www.linkedin.com/in/ksoftsmart-solutions-92172415b" target="_blank">Follow Us on<br>Linkedin</a></p>
              </li>
              <li>
                  <img src="<?= $this->request->webroot ?>img/icons/whatsapp.png" style="height:52px;">
                  <p><a href="whatsapp://send?text=http://www.ksoftss.com    We are Software Application Development Company that undertakes developing website and web based software. We help our clients to ensure their business functions smooth. We develop user friendly business management software for our client’s database requirements. Our services include development of application based software for android and ios." data-action="share/whatsapp/share" >Share Us On<br>Whatsapp</a></p>
              </li>
              <!-- <li>
                  <img src="<?= $this->request->webroot ?>img/icons/linkedin-circle.png" width="32" height="32">
                  <p><a href="https://www.linkedin.com/company/codexworld" target="_blank">Follow Us on<br>LinkedIn</a></p>
              </li>
              <li>
                  <img src="<?= $this->request->webroot ?>img/icons/youtube-circle.png" width="32" height="32">
                  <p><a href="http://www.youtube.com/codexworld" target="_blank">Subscribe on<br>YouYube</a></p>
              </li>
              <li>
                  <img src="<?= $this->request->webroot ?>img/icons/pin-circle.png" width="32" height="32">
                  <p><a href="https://www.pinterest.com/codexworld" target="_blank">Follow Us on<br>Pinterest</a></p>
              </li> -->
          </ul>
        </div>